<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levien.synthesizer"
    android:versionCode="5"
    android:versionName="0.93">
  <uses-sdk android:minSdkVersion="9" 
      android:targetSdkVersion="17"
      /> <!-- 9 = Gingerbread -->
  <uses-feature android:name="android.hardware.usb.host"
      android:required="false"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity
        android:name="com.levien.synthesizer.android.ui.PianoActivity2"
        android:label="@string/app_name"
        android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
      </intent-filter>
      <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
          android:resource="@xml/device_filter" />
    </activity>
    <activity
        android:name="com.levien.synthesizer.android.ui.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.ScoreActivity"
        android:label="@string/app_name"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.ChordGridActivity"
        android:label="@string/chord_grid"
        android:screenOrientation="portrait" />
    <activity
        android:name="com.levien.synthesizer.android.ui.InstrumentListActivity"
        android:label="@string/instrument_list"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.EditInstrumentActivity"
        android:label="@string/edit_instrument"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.VibratoActivity"
        android:label="@string/vibrato"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.OscillatorActivity"
        android:label="@string/oscillator"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.TremoloActivity"
        android:label="@string/tremolo"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.LowPassFilterActivity"
        android:label="@string/low_pass_filter"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.AmplificationActivity"
        android:label="@string/amplification"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.EffectsActivity"
        android:label="@string/effects"
        android:screenOrientation="landscape" />
    <activity
        android:name="com.levien.synthesizer.android.ui.KarplusStrongActivity"
        android:label="@string/karplus_strong"
        android:screenOrientation="landscape" />
    <!-- Don't need the service if we're running native sound engine
    <service android:name=".android.service.SynthesizerService">
      <intent-filter>
        <action android:name=".android.service.ISynthesizerService" />
      </intent-filter>
    </service>
    -->
  </application>
</manifest>
